# This file is a "template" of which env vars need to be defined for your database connection
# Override the variables you want in .env for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
MYSQL_ROOT_PASSWORD=passwordRootToChange!
MYSQL_DATABASE=database
MYSQL_USER=user
MYSQL_PASSWORD=passwordToChange!
